<!-- login.ejs -->

<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <title>evault</title>
</head>
<body>
  <div class="header-container">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-2 text-left">
            <img src="./images/logo.png" alt="Image Description" style="max-width: 60%;" class="float-left">
        </div>
        <div class="col-md-3 text-left">
            <h1><strong>EVAULT</strong></h1>
            <h3><strong>Make Your Privacy as Security</strong></h3>
        </div>
        <div class="col-md-2 text-left">
            <img src="./images/court.jpg" alt="Image Description" style="max-width: 100%;" class="float-right">
        </div>
        <div class="col-md-3 text-right">
            <h2 id="date-time"></h2>
        </div>
        <div class="col-md-2 text-right">
            <img src="./images/logo1.png" alt="Image Description" style="max-width: 60%;" class="float-right">
        </div>
    </div>
</div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item cta"><a href="/" class="nav-link" style="font-size: 20px;"> Home </a></li>
      </ul>
    </div>
  </nav>
  <div class="main">
    <div class="lcontainer b-container" >
      <form class="form" >
        <h2 class="form_title title">Reset Password</h2>
        <!-- Email input -->
        <div class="error-message" id="emailError"></div>
        <div style=" display: flex; flex-direction: row; justify-content: space-between; ">
            <input class="form__input" type="text" name="email" placeholder="Email Id" id="email"  required style="width: 275px" />
            <button style=" height: 25px; width: 70px; font-size: small; margin-top: 10px; margin-left: 5px; border: 1px solid black; padding: 0px 3px 3px 3px; border-radius: 3px; ">
                Send OTP
            </button>
        </div>
        <div class="error-message" id="otpError" ></div>
        <input class="form__input" type="text" name="otp" placeholder="Enter OTP" id="otpInput" required />
        <div class="error-message" id="passwordError"></div>
        <div class="error-message" id="nameError"></div>
        <input class="form__input" type="text" name="userId" placeholder="Username" required />
        <input class="form__input" type="password" placeholder="New Password" name="newpw" required>
        <select class="form-select" aria-label="Default select example" name="department" required>
            <option value="">Department</option>
            <option value="client">client</option>
            <option value="lawyer">lawyer</option>
            <option value="judge">judge</option>
        </select>
        <button class="form__button button submit" type="reset">SUBMIT</button> 
      </form>
    </div>

    <div class="switch" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container" id="switch-c1">
          <img src="/images/hello.jpeg" alt="Image Description" style="max-width: 100%;" class="float-right">
          <a href="/login"><button class="switch__button button switch-btn">BACK</button></a>
        </div>      
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>
