<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>evault</title>
</head>

<body>
    <div class="header-container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-2 text-left">
                <img src="./images/logo.png" alt="Image Description" style="max-width: 60%;" class="float-left">
            </div>
            <div class="col-md-3 text-left">
                <h1><strong>EVAULT</strong></h1>
                <h3><strong>Make Your Privacy as Security</strong></h3>
            </div>
            <div class="col-md-2 text-left">
                <img src="./images/court.jpg" alt="Image Description" style="max-width: 100%;" class="float-right">
            </div>
            <div class="col-md-3 text-right">
                <h2 id="date-time"></h2>
            </div>
            <div class="col-md-2 text-right">
                <img src="./images/logo1.png" alt="Image Description" style="max-width: 60%;" class="float-right">
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item cta"><a href="/logout" class="nav-link" style="font-size: 15px;">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="sidebar">
        <div class="logo-details">
            <img src="images/band.png" alt="Logo Image" class="logo_img">
            <span class="logo_name">E-Vault</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="lawyerdash">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                  </a>
                </li> 
            <li>
                <a href="lawyercreate">
                    <i class='bx bx-file'></i>
                    <span class="link_name">File a Case</span>
                </a>
            </li>
            <li>
                <a href="lawyerupdate">
                    <i class='bx bx-edit'></i>
                    <span class="link_name">Update Case File</span>
                </a>
            </li>
            <li>
                <a href="lawyeradddoc">
                    <i class='bx bx-folder-plus'></i>
                    <span class="link_name">Add Document</span>
                </a>
            </li>
            <li>
                <a href="lawyeraccess">
                    <i class='bx bx-key'></i>
                    <span class="link_name">Grant Access</span>
                </a>
            </li>
            <li>
                <a href="lawyerrevoke">
                    <i class='bx bx-block'></i>
                    <span class="link_name">Revoke Access</span>
                </a>
            </li>
            <li>
                <a href="lawyerview">
                    <i class='bx bx-list-ul'></i>
                    <span class="link_name">View all Cases</span>
                </a>
            </li> 

        </ul>
    </div>
    <section class="home-section">
        <div id="dashboard" class="dash" >
            <div class="first-container">
                <div class="greeting-box"></div>
                <div class="pie-box">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
            
            <br>
            <br>
            <br>
            <div class="card-container">
                <a href="lawyercreate" class="card card1">
                    <h3>File a Case</h3>
                    <i class='bx bx-file'></i>
                    <p>Initiate a new case file</p>
                </a>
                <a href="lawyerupdate" class="card card3">
                    <h3>Update Case File</h3>
                    <i class='bx bx-edit'></i>
                    <p>Update document in the case file</p>
                </a>
                <a href="lawyeradddoc" class="card card4">
                    <h3>Add Document</h3>
                    <i class='bx bx-folder-plus'></i>
                    <p>Append document to the case file</p>
                </a>
            </div>
            <div style="padding: 10px;"></div>
            <div class="card-container">
                <a href="lawyeraccess" class="card card5">
                    <h3>Grant Access</h3>
                    <i class='bx bx-key'></i>
                    <p>Share the access permissions</p>
                </a>
                <a href="lawyerrevoke" class="card card6">
                    <h3>Revoke Access</h3>
                    <i class='bx bx-block'></i>
                    <p>Block the access permissions</p>
                </a>
                <a href="lawyerview" class="card card7">
                    <h3>View all Cases</h3>
                    <i class='bx bx-list-ul'></i>
                    <p>View all the case files</p>
                </a>
            </div>
        </div>

    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Sample data for the pie chart
        
        var pieChartData = {
            labels: ["Opened Cases", "Closed Cases"],
            datasets: [{
                data: [1,1], // Adjust these values as needed
                backgroundColor: ["#FF4500", "#00008B"], // Adjust colors as needed
            }]
        };


        // Get the canvas element
        var ctx = document.getElementById("myPieChart").getContext("2d");
        
        // Create the pie chart
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: pieChartData,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                return previousValue + currentValue;
                            });
                            var currentValue = dataset.data[tooltipItem.index];
                            var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                            return percentage + "%";
                        }
                    }
                }
            }
        });
    </script>
    

    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Get the current hour
            var currentHour = new Date().getHours();

            // Select the greeting-box element
            var greetingBox = document.querySelector('.greeting-box');

            // Define greeting messages based on the time of the day
            var greeting;
            if (currentHour < 12) {
                greeting = 'Good morning!';
            } else if (currentHour < 18) {
                greeting = 'Good afternoon!';
            } else {
                greeting = 'Good evening!';
            }

            // Add the greeting message to the greeting-box
            greetingBox.innerHTML = '<h3 class="greeting-heading"><strong>Hello , ' + greeting + '</strong></h3><h1 class="greeting-para">Welcome to the Dashboard</h1>';

            // Increase the size of the h2 element
            var greetingHeading = document.querySelector('.greeting-heading');
            var greetingpara = document.querySelector('.greeting-para');
            greetingHeading.style.fontSize = '50px'; // Adjust the value as needed
            greetingpara.style.fontSize = '30px'
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="main.js"></script>
</body>

</html>

